<div class="container">
	<h2>User info</h2>
	<% if @user.errors.any? %>
  	<div>
  	<h2 style="color: red"><%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:</h2>
    <ul style="color: red">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

	<div class="edit_user">
	<%= form_for(@user) do |f| %>
	        <h4>Name</h4>
	    	<%= f.text_field :name %>
	    	<h4>Image</h4>
	    	<%= f.attachment_field :profile_image %>

	    	<h4>Introduction</h4>
	    	<%= f.text_area :introduction %>
	    	<br>
	    	<%= f.submit "Update User" %>

	<% end %>
	</div>
</div>